@page "/accounts/register"
@using OnlineShop.HttpApiClient
@using OnlineShop.HttpModels.Request

@inject IShopClient ShopClient

<PageTitle>Регистрация пользователя</PageTitle>

<EditForm Model="_request" OnValidSubmit="Register">
    <DataAnnotationsValidator/>
    <div style="width:200px;">
        <br>Email<input type="email" @bind-value="_request.Email"/><br>
        <br>Логин<input type="text" @bind-value="_request.Name"/><br>
        <br>Пароль<input type="password" @bind-value="_request.Password"/><br>
        <br>Подтверждение пароля<input type="password" @bind-value="_request.PasswordConfirm"/><br>
        <ValidationSummary/>
        <br><input type="submit" value="Sign up"><br>
    </div>
</EditForm>

@code {
    RegisterRequest _request = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task Register()
    {
        await ShopClient.Register(_request);
    }

}